---
import PageHeading from "../components/page-heading.astro";
import Layout from "../layouts/main.astro";

import testimonials from '../collections/testimonials.json';
import Card from "../components/card.astro";
---

<Layout title="Depoimentos">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="Depoimentos"
      description="Depoimentos de pessoas que trabalharam ou estudaram comigo."
    />

    <div class="z-50 flex flex-col items-stretch w-full gap-5 my-8">
      {testimonials.map((testimonial) => (
        <Card
          title={testimonial.title}
          description={testimonial.description}
          link={testimonial.link}
          footer={testimonial.footer}
        />
      ))}
    </div>
  </section>
</Layout>